body {
  font-family: 'IM Fell English', serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1.text-center {
  font-family: 'IM Fell English', serif;
  font-size: 128px;
}

#outer {
    width: 600px;
    margin: 0 auto;    
}

.combatant{
    cursor: pointer;
    padding: 5px;
}

.combatant .name {
    display: inline-block;
    width: 300px;
    font-size: 3em;
  color: white;
  font-weight: bold;
}

.combatant .turn {
  display: inline-block;
  width: 50px;
}

.combatant .initiative {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 3em;
    font-weight: bold;
    color: white;
}

.combatant {
  background-color: #2748a7;
  border: 2px solid #2748a7;
  border-bottom: 2px solid black;
  border-radius: 15px;
  font-family: 'IM Fell English', serif;
}

.combatant.selected {
  border: 2px dotted black;
}

.combatant.monster {
  background-color: #ed350a;
  border: 2px solid #ed350a;
  border-bottom: 2px solid black;
  border-radius: 15px;
}

.combatant:hover {
  border: 2px solid yellow;
}

span.glyphicon-arrow-right {
  font-size: 2.5em;
  color: teal;
  text-shadow: 1px 1px 1px #e0e0e0;
}

#addCombatantDiv {
  border: 2px solid black; 
  padding: 5px; 
  margin-bottom: 3px;
  display: none;
}
