body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 600px;
    margin: 0 auto;    
}

.combatant{
    cursor: pointer;
    padding: 5px;
  border: 2px solid black;
  border-bottom: 1px solid black;
}

.combatant .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
  color: white;
  font-weight: bold;
}

.combatant .turn {
  display: inline-block;
  width: 50px;
}

.combatant .initiative {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.combatant {
  background-color: blue;
}

.combatant.selected {
  border: 3px dotted black;
}

.combatant.monster {
  background-color: red;
}

.combatant:hover {
  border: 4px solid navy;
}

span.glyphicon-arrow-right {
  font-size: 1.5em;
  color: teal;
  text-shadow: 1px 1px 1px #e0e0e0;
}
